.navbar{
    background-color: lightgray;
}


.showcase{
    background: linear-gradient(to right, rgba(86, 156, 235, 0.5), rgba(4, 4, 31, 0.5)), url(/assets/port-landingpage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing-para{
    position: absolute;
    top: 30.5%;
    left: 29.5%;
}